:root{
    /* Primary colors */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral colors */
    --para-transparent-white: hsla(0, 0%, 100%, 0.75);
    --bg-h-buttons-vlight-gray: hsl(0, 0%, 95%);

    /* Font size and weight */
    --lightweight-lexDec: 400;
    --chonky-bigShoulders: 700;
    --h1-font-size: 1.75rem;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100dvw;
    height: 100dvh;
}

body {
    font-size: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-h-buttons-vlight-gray);
}

main {
    width: 90dvw;
    max-width: 330px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
}

section {
    height: 100%;
    width: 100%;
    padding: 1rem 3rem;
}

section img {
    margin: 2rem 0rem 0rem;
}

section h1 {
    color: var(--bg-h-buttons-vlight-gray);
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--chonky-bigShoulders);
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: var(--h1-font-size);
    margin: 1.5rem 0rem 0rem;
}

section p {
    color: var(--para-transparent-white);
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--lightweight-lexDec);
    font-style: normal;
    margin: 1.5rem 0rem 0rem;
    width: 100%;
    line-height: 1.625;
    font-size: 0.95rem;
}

button {
    border-radius: 2rem;
    padding: 0.625rem 1.25rem;
    border: none;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--lightweight-lexDec);
    font-style: normal;
    font-size: 12px;
    margin: 1.5rem 0rem;
}

#sedan-section {
    background-color: var(--bright-orange);
    border-radius: 0.625rem 0.625rem 0rem 0rem;
}

#sedan-section button {
    color: var(--bright-orange);
}

#suv-section {
    background-color: var(--dark-cyan);
}

#suv-section button {
    color: var(--dark-cyan);
}

#luxury-section {
    background-color: var(--very-dark-cyan);
    border-radius: 0rem 0rem 0.625rem 0.625rem;
}

#luxury-section button {
    color: var(--very-dark-cyan);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 1024px) {
    main {
        max-width: 850px;
        flex-direction: row;
        height: 450px;
    }


    #sedan-section {
        background-color: var(--bright-orange);
        border-radius: 0.625rem 0rem 0rem 0.625rem;
    }

    #luxury-section {
        background-color: var(--very-dark-cyan);
        border-radius: 0rem 0.75rem 0.75rem 0rem;
    }

    section p {
        margin: 1.5rem 0rem 4rem;
        font-size: 0.8rem;
        width: 95%;
    }

    button {
        padding: 0.75rem 1.75rem;
    }

    section button:hover {
        border: 2px solid var(--para-transparent-white);
        cursor: pointer;
    }

    #sedan-section button:hover {
        background-color: var(--bright-orange);
        color: var(--para-transparent-white);
    }

    #suv-section button:hover {
        background-color: var(--dark-cyan);
        color: var(--para-transparent-white);
    }

    #luxury-section button:hover {
        background-color: var(--very-dark-cyan);
        color: var(--para-transparent-white);
    }
}